@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.container {
  margin: auto;
  max-width: 45vw;
  font-family: "Lato", sans-serif;
  font-size: large;
}

.heading {
  color: #1d3557;
}

.nav-links {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 0%;
}

.nav-link-item {
  display: table-cell;
  text-align: left;
}

.nav-link-text {
  color: black;
}

.site-title {
  font-size: 3rem;
  color: #050517;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
